<?php if (count($this->photos)) : ?>
    <div class="row">
        <div class="alert alert-info fade in">
            <h4><?php echo $this->title ?></h4>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">Thumbnail</th>
                        <th class="col-md-3">Title</th>
                        <th class="col-md-6">Tags</th>
                        <th class="col-md-1">Tag delete</th>
                        <th class="col-md-1">Hide</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    echo $this->partialLoop('application/flickr/partials/photo.phtml', $this->photos);
                    ?>
                </tbody>
            </table>
        </div>
    </div>
<?php endif; ?>