<?php
$hasDeleteTag = preg_match('/delete/', $this->photo->tags);
?>
<tr data-photo-id="<?php echo $this->photo->id ?>" data-has-delete-tag="<?php echo $hasDeleteTag ?>">
    <td>
        <?php
        vprintf("<a href='%s'><img src='%s' alt='%s' title='%s\n%s\n%s'/></a>", array(
            $this->photoUrl,
            $this->photo->url_t,
            $this->photo->id,
            $this->photo->title,
            print_r($this->exif, 1),
            $this->md5
        ));
        ?>
    </td>
    <td>
        <?php echo $this->photo->title; ?>
    </td>
    <td>
        <?php
        foreach (explode(' ', $this->photo->tags) as $tag) {
            if (strlen($tag)) {
                echo "&nbsp;<span class='btn btn-default disabled'>{$tag}</span>&nbsp;";
            }
        }
        ?>
        <?php //echo $this->partialLoop('application/index/partials/tags.phtml', explode(' ', $this->photo)); ?>
    </td>
    <td>
        <span class="checkbox action-tag-delete glyphicon glyphicon-unchecked" style="cursor: pointer"></span>
        <input type="checkbox" name="action-tag-delete" style="display:none" value="<?php echo $this->photo->id ?>" />
    </td>
    <td>
        <span class="checkbox action-hide glyphicon glyphicon-unchecked" style="cursor: pointer"></span>
        <input type="checkbox" name="action-hide" style="display:none" value="<?php echo $this->photo->id ?>" />
    </td>
</tr>