<script>
    var photoToAddTag = [];
    $(function() {
        var _hiddenPhotosShow = false, _deleteTagShow = true;

        //
        $('button#action-tag-delete').on('click', function() {
            $('#ajax-call').modal({
                keyboard: false
            });
            $.post('/flickr/ajax', {
                method: "add-tag-delete",
                args: $('input[name=action-tag-delete]:checked').serializeArray()
            }, function(data) {
                $('#ajax-call').modal('hide');
                if (data.state != 0) {
                    alert('Error');
                } else {
                    $.each(data.response, function(i, e) {
                        $('tr[data-photo-id=' + i + ']').hide();
                    });
                }
            });
        });
        //
        $('button#action-hide-toggle').on('click', function() {
            _hiddenPhotosShow = !_hiddenPhotosShow;
            $('tr.hidden-photo').toggle();

            $(this).html(_hiddenPhotosShow ? "Hide hidden photos" : "Show hidden photos");
            $(this).toggleClass('btn-success').toggleClass('btn-danger');
        });
        //
        $('button#action-hide-photo-has-delete-tag-toggle').on('click', function() {
            _deleteTagShow = !_deleteTagShow;
            $('tr[data-has-delete-tag=1]').toggle();

            $(this).html(_deleteTagShow ? 'Hide photos with "delete" tag' : 'Show photos with "delete" tag');
            $(this).toggleClass('btn-success').toggleClass('btn-danger');
        });

        var spanCheckboxes = $('span.checkbox');
        spanCheckboxes.on('click', function() {
            var checkbox = $(this).siblings('input[type=checkbox]');
            checkbox.click();

            $(this).toggleClass('glyphicon-check').toggleClass('glyphicon-unchecked');
        });

        spanCheckboxes.filter('.action-hide').on('click', function() {
            var checkbox = $(this).siblings('input[type=checkbox]');
            var tr = $(this).parents('tr');

            tr.toggleClass('hidden-photo')
            if (!_hiddenPhotosShow) {
                tr.toggle();
            }

            if (checkbox.is(':checked')) {
                var span = $('span.action-tag-delete', tr);
                if (span.hasClass('glyphicon-check')) {
                    span.click();
                }
            }
        });
    });
</script>

<div class="modal fade" id="ajax-call" tabindex="-1" role="dialog" aria-labelledby="ajax-call" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <?php echo $this->translate('Please wait...'); ?>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
        <div class="alert alert-success fade in">
            <?php printf($this->translate('Found %s photos'), $this->foundPhotos); ?>
        </div>
    </div>

    <?php
    if (count($this->photosByHash) + count($this->photosByExif) + count($this->photosByTitle) == 0) {
        ?>
        <div class="row">
            <div class="alert alert-info fade in">
                <?php echo $this->translate('There is no potential duplicate photo.'); ?>
            </div>
        </div>

        <?php
    } else {
        ?>
        <div class="row">
            <div class="col-md-3">
                <button id="action-tag-delete" class="btn btn-primary"><?php echo $this->translate('Add "delete" tag to checked photos'); ?></button>
            </div>
            <div class="col-md-2">
                <button id="action-hide-toggle" class="btn btn-success"><?php echo $this->translate('Show hidden photos'); ?></button>
            </div>
            <div class="col-md-2">
                <button id="action-hide-photo-has-delete-tag-toggle" class="btn btn-danger"><?php echo $this->translate('Hide photos with "delete" tag'); ?></button>
            </div>
        </div>
        <br/>
        <?php
    }

    echo $this->partial('application/flickr/partials/photos.phtml', array(
        'photos' => $this->photosByHash,
        'title' => $this->translate('Potential duplicate photos by comparing thumbnails')
    ));
    
    echo $this->partial('application/flickr/partials/photos.phtml', array(
        'photos' => $this->photosByExif,
        'title' => $this->translate('Potential duplicate photos by Exif')
    ));

    echo $this->partial('application/flickr/partials/photos.phtml', array(
        'photos' => $this->photosByTitle,
        'title' => $this->translate('Potential duplicate photos by title')
    ));
    ?>

    <div>
        <?php printf($this->translate('Executed in %.3f seconds'), $this->execTime); ?>
        <?php printf($this->translate('Memory peak %s MB'), $this->memory / 1024 / 1024); ?>
    </div>
</div>
