<div class="jumbotron">
    <h1><?php echo $this->translate('Welcome to Flickr Deduplicator') ?></h1>
    <p>
        <?php
        if ($this->isLogged) :
            echo $this->translate('You are logged in.');
            
        else :
            echo '<a href="'.$this->url('application/default', array('controller' => 'flickr', 'action' => 'auth')).'">' . $this->translate('Log in Flickr') . '</a>';
        endif;
        ?>
    </p>
</div>