<script>
    $(function() {
        var _processType = $('.process-type');
        _processType.parents('.form-group').hide();
        $('input[name="type"]').on('change', function() {
            _processType.parents('.form-group').hide();
            $('#' + $(this).val()).parents('.form-group').show();
        });
    });
</script>

<div class="col-md-4">
    <?php
    $this->form->setAttribute('action', $this->url('application/default', array('controller' => 'flickr', 'action' => 'process')));
    echo $this->form($this->form, \TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_HORIZONTAL);
    ?>
</div>

<div class="col-md-1">
</div>

<div class="col-md-4">
    <p>
        <?php echo $this->translate('You can use this tool to find potential duplicate photos.'); ?><br/>
        <?php echo $this->translate('You will be asked to choose photos which you think that is duplicate in order to add a tag "delete" to the photos.'); ?><br/>
        <?php echo $this->translate('Once the tag "delete" is added, you can go in Oragnizr of Flickr and search by tag, double-check those photos before deleting them for good.'); ?><br/>
    </p>
    <p>
        <?php echo $this->translate('You can find by year or by tags.'); ?><br/>
        <?php echo $this->translate('If you choose tags, you can choose a maximum set of 20 tags.'); ?><br/>
    </p>
</div>

<div class="col-md-3">
    <p>
        <?php echo $this->translate('This tool does not save your authorization to use Flickr.'); ?><br/>
        <?php echo $this->translate('After closing your browser, you will need to give your authorization again'); ?><br/>
    </p>
</div>